@media screen and (max-width: 767px) {
    #carousel{
        display: none;
    }
}

// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel {
    .carousel-inner {
        // box-shadow: $box-shadow-raised;
        border-radius: $border-radius-small;
        color: black;
    }

    .card {
        max-width: 650px;
        margin: 60px auto;
        display: block;
    }
}

.carousel-caption {
    color: black;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.carousel-caption > p {
    font-size: .8em;
    font-weight: 600;
}

.section { 
    &.browser {
        width: 28%;
        min-width: 267px;
        padding: 0;
        text-align: center;
        font-size: 240%;
        margin-top: 5%;
        left: 48%;

        &.edge {
            margin-top: 15%;
        }
    }
}
.carousel-indicators{
    display: contents;
}
#carousel * .col {
    left: -18%;
}