.navbar{
    padding-top: $navbar-padding-base;
    padding-bottom: $navbar-padding-base;
    min-height: 3.3125rem;
    margin-bottom: 1.25rem;
    box-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.15);

    a{
        vertical-align: middle;

        &:not(.btn):not(.dropdown-item){
            color: darkblue;
            font-weight: bold;  
            font-size: 18px;
        }
    }

    p{
        display: inline-block;
        margin: 0;
        line-height: 1.3125rem;
        font-weight: inherit;
        font-size: inherit;
    }

    .navbar-nav{
        &.navbar-logo{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 3.0625rem;
            top: -0.25rem;
        }

        .nav-link.btn{
            padding: $padding-btn-vertical $padding-btn-horizontal;

            &.btn-lg{
                padding: $padding-large-vertical $padding-large-horizontal;
            }

            &.btn-sm{
                padding: $padding-small-vertical $padding-small-horizontal;
            }
        }

        .nav-link:not(.btn){
            text-transform: uppercase;
            font-size: $font-size-mini;
            padding: $padding-base-vertical $padding-base-horizontal;
            line-height: $line-height-nav-link;

            i.fab + p,
            i.now-ui-icons + p{
                margin-left: 0.1875rem;
            }

            i.fab,
            i.now-ui-icons{
                font-size: 18px;
                position: relative;
                top: 0.1875rem;
                text-align: center;
                width: 1.3125rem;
            }

            i.now-ui-icons{
                top: 0.25rem;
                font-size: 16px;
            }

            &.profile-photo{
                .profile-photo-small{
                    width: 1.6875rem;
                    height: 1.6875rem;
                }
            }

            &.disabled{
                opacity: .5;
                color: $white-color;
            }
        }

        .nav-item.active .nav-link:not(.btn),
        .nav-item .nav-link:not(.btn):focus,
        .nav-item .nav-link:not(.btn):hover,
        .nav-item .nav-link:not(.btn):active{
            background-color: $opacity-2;
            border-radius: $border-radius-small;
        }
    }

    .logo-container{
        width: 1.6875rem;
        height: 1.6875rem;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .navbar-brand{
        text-transform: uppercase;
        font-size: $font-size-small;
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        line-height: $line-height-nav-link;
        }

    .navbar-toggler{
        width: 2.3125rem;
        height: 1.6875rem;
        outline: 0;
        cursor: pointer;

        &.navbar-toggler-left{
            position: relative;
            left: 0;
            padding-left: 0;
        }

        .navbar-toggler-bar.middle-bar{
          width: 1.0625rem;
          transition: width .2s linear;
        }

        &:hover{
            & .navbar-toggler-bar.middle-bar{
                width: 1.375rem;
            }
        }
    }

    .button-dropdown{
        .navbar-toggler-bar:nth-child(2){
            width: 1.0625rem;
        }
    }

    &.navbar-transparent{
        background-color: $transparent-bg !important;
        box-shadow: none;
        color: $white-color;
        padding-top: 1.25rem !important;
    }

    &.bg-white:not(.navbar-transparent){
        a:not(.dropdown-item):not(.btn){
            color: $default-color;

            &.disabled{
                opacity: .5;
                color: $default-color;
            }
        }

        .button-bar{
            background: $default-color;
        }

        .nav-item.active .nav-link:not(.btn),
        .nav-item .nav-link:not(.btn):focus,
        .nav-item .nav-link:not(.btn):hover,
        .nav-item .nav-link:not(.btn):active{
            background-color: $opacity-gray-3;
        }

        .logo-container{
            border: 1px solid $default-color;
        }
    }
}
button.navbar-toggler.navbar-toggler > span.navbar-toggler-bar {
    background: #2c3b60;
}
.bg-default{
    background-color: $default-color !important;
}

.bg-primary{
    background-color: $primary-color !important;
}

.bg-info{
    background-color: $info-color !important;
}

.bg-success{
    background-color: $success-color !important;
}

.bg-danger{
    background-color: $danger-color !important;
}

.bg-warning{
    background-color: $warning-color !important;
}

.bg-white{
    background-color: $white-color !important;
}
