.contact-row {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 25%;
}
.section.section-contact-us {
    padding: 0%;
}
.contat-address {
    max-width: 50%;
}
