/*menu*/

#dropmenudiv{
position:absolute;
border:1px solid #4c5a7b;
border-bottom-width:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:white;
text-decoration:none;
font-weight:normal;
line-height:22px;
z-index:100;
}

#dropmenudiv a{
width:100%;
display:block;
text-indent:3px;
border-bottom:1px solid #4c5a7b;
border-right:1px solid #4c5a7b;
padding:0px;
outline:none;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#f5c000;
font-weight:normal;
background-color:#4c5a7b;
}
#dropmenudiv a:hover{ /*hover background color*/
background-color:#4c5a7b;
color:#a3b1d0;
}