body {
    font-family: Arial, sans-serif;
}
div#tmpSlideshow {
    position: relative;
    height: 290px;
    width: 901px;
   
}
div.tmpSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 901px;
    height: 290px;
    display: none;
}
div.tmpSlide img {
    float: left;

    width: 901px;
    
}
div#tmpSlideshowControls {
    position: absolute;
    right: 11px;
    width: 160px;
	top:220px;
}
div.tmpSlideshowControl {
    border: 1px solid #FFFFFF;
    float: left;
    margin: 0 5px 0 0;
    background: url('/Template/Pictures/Buttons/Feature.png') no-repeat;
    width: 20px;
    height: 18px;
    color: #FFFFFF;
    font: 11px Arial, sans-serif;
    text-align: center;
    cursor: pointer; background-color:#475677;
}
div.tmpSlideshowControl span {
    line-height: 18px;
    vertical-align: middle;
}
div.tmpSlideshowControlOn {
    background-image: url('/Template/Pictures/Buttons/FeatureOver.png');
}
div.tmpSlideshowControlActive {
    border: 1px solid #FFFFFF; background-color:#e3b200;}
div.tmpSlideCopy {
    position: absolute;
    left: 565px;
    top: 20px;
    width: 170px;
}
div#tmpSlideshow h4 {
    color: #b90f23;
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    margin: 10px 0;
}
div.tmpSlideCopy p {
    font: 11px Arial, sans-serif;
    line-height: 1.75em;
}

.opacity_slideshow {
background-color:#ffffff;
opacity:0.80; /* firefox, opera, safari, chrome */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /* IE 8 */
filter:alpha(opacity=80); /* IE 4, 5, 6 and 7 */
zoom:1 /* so the element "hasLayout"
/* or, to trigger "hasLayout" set a width or height */
}