
body
{
margin:0px;
background-color:#e9e8e8;
background-image:url(../images/bg.jpg);
background-repeat:repeat-x;
}
a
{
outline:none;
}
.outertable
{
width:1000px;
margin-left:auto;
margin-right:auto;
}
.innertable
{
width:901px; 
margin-left:auto;
margin-right:auto;
}

/* Textbox */

.textbox1
{
width:234px;
height:24px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
border:0px;
}
.textbox2
{
width:131px;
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
padding:0px;
margin:0px;
border:1px solid #e2e0e0;
background-color:#ffffff;
}


/* Menus */

.menu-bg
{
background-image:url(../images/menu-bg.jpg);
background-repeat:repeat-x;
line-height:43px;
}
.menu-text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
height:33px;
text-decoration:none;
font-weight:bold;  display:block; 
}
a.menu-text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
padding-top:8px;
height:25px;
*height:33px;
text-decoration:none;
font-weight:bold; display:block; 
}
a.menu-text:hover
{
background-image:url(../images/menu-over.jpg);
width:91px;
background-repeat:no-repeat;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding-top:8px;
height:25px;
*height:33px;
color:#f7c200;
text-decoration:none;
font-weight:bold;
display:block;
}
.menu-current
{
background-image:url(../images/menu-over.jpg);
width:91px;
background-repeat:no-repeat;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#f7c200;
font-weight:bold; 
text-decoration:none; 
padding-top:8px;
height:25px;
*height:33px;
display:block;
}

/* Background Image */

.content-service-bg
{
background-image:url(../images/content-services-bg.jpg);
background-repeat:repeat-x;
height:185px;
}
.map
{
background-image:url(../images/map-bg.jpg);
background-repeat:no-repeat;
width:304px;
height:178px;
}
.login-top
{
background-image:url(../images/login-top.jpg);
background-repeat:no-repeat;
width:251px; height:37px;
}
.login-bottom
{
background-image:url(../images/login-bottom.jpg);
background-repeat:no-repeat;
width:251px; height:13px;
}
.right-top
{
background-image:url(../images/right-top.jpg);
background-repeat:no-repeat;
width:255px;
height:34px;
}
.right-bottom
{
background-image:url(../images/right-bottom.jpg);
background-repeat:no-repeat;
width:255px;
height:13px;
}
.service-bg
{
background-image:url(../images/service-bg.jpg);
background-repeat:no-repeat;
width:88px;
height:75px;
}
.service-button
{
background-image:url(../images/service-button.jpg);
background-repeat:no-repeat;
width:77px; height:20px;
}
.sub-heading-bg
{
background-image:url(../images/sub-heading-bg.jpg);
background-repeat:repeat-x;
height:16px;
}
.job-title-bg
{
background-image:url(../images/job-bg.jpg);
background-repeat:repeat-x;
height:7px;
}
.portfolio-bg
{
background-image:url(../images/portfolio-bg.jpg);
background-repeat:no-repeat;
width:218px;
height:154px;
}




/* Headings */

.heading1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:17px;
color:#f6c100;
text-decoration:none;
font-weight:normal;
}
.heading2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px; 
color:#454141;
text-decoration:none;
font-weight:normal; border-bottom:1px solid #cccccc; padding-bottom:5px;
}
.heading3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px; 
color:#454141;
text-decoration:none;
font-weight:normal; 
}
.heading4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
color:#f7c200;
text-decoration:none;
font-weight:normal;
padding-left:45px;
}
.heading5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px; 
color:#4c5a7b;
text-decoration:none;
font-weight:bold; line-height:20px;
}
.heading6
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#5e5e5e;
text-decoration:none;
font-weight:bold; 
}
.heading7
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:17px; 
color:#FFFFFF;
text-decoration:none;
font-weight:normal; 
}
.heading8
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#4c5a7b;
text-decoration:none;
font-weight:bold;
line-height:20px; padding-left:8px;
}
.heading9
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px; 
color:#4c5a7b;
text-decoration:none;
font-weight:bold; line-height:20px; border-bottom:1px solid #CCCCCC; padding-bottom:5px;
}



/* Borders */

.bdr1 { border:2px solid #8c8d8d; }
.bdr2 { border-left:3px solid #ab8600; border-right:3px solid #ab8600; }
.bdr3 { border:1px solid #dcdcdc;}
.bdrarea { border:1px solid #dcdcdc; height:50px; width:200px; }
.bdr4 { border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; }
.bdr5 { border-left:1px solid #e8e7e7; border-right:1px solid #e8e7e7; border-bottom:1px solid #e8e7e7; }
.bdr6 { border:1px solid #efeded; }
.bdr7 { border:1px solid #5c6987; }
.bdr8 { border:4px solid #dcdcdc; }
.bdr9 { border-right:1px solid #dcdcdc; }
.bdr10 { border-left:1px solid #dcdcdc; }
    

/* Texts */

.text1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#454141;
text-decoration:none;
font-weight:normal;
line-height:20px; text-align:justify;
}
.text2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
}
.text3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px; 
color:#676767;
text-decoration:none; text-align:center;
font-weight:normal; border-top:1px solid #e8e7e7; padding-top:5px;
}
.text4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#676767;
text-decoration:none; text-align:center;
font-weight:bold; line-height:20px; 
}
.text5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#706d6d;
text-decoration:none;
font-weight:bold;
line-height:20px;
padding-left:10px; text-align:left;
}
.text6
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#6f6c6c;
text-decoration:none;
font-weight:normal;
line-height:20px; padding-left:10px; text-align:justify; padding-right:10px;
}

.text7
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
text-decoration:none;
font-weight:bold;
line-height:20px;
}
.text8
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#000000;
text-decoration:none; font-weight:normal; padding-left:6px; padding-right:5px; line-height:20px;
}
.text9
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#616162;
text-decoration:none;
font-weight:normal;
line-height:20px; text-align:justify;
}
.text10
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
line-height:20px; text-align:justify;
}

.text11
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
}

/* Links */

.link1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#e5b507;
text-decoration:none; font-weight:bold;
}
a.link1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#e5b507;
text-decoration:none; font-weight:bold;
}
a.link1:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#475577;
text-decoration:none; font-weight:bold;
}
.link2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#000000;
text-decoration:underline; font-weight:normal;
}
a.link2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#000000;
text-decoration:underline; font-weight:normal;
}
a.link2:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#475577;
text-decoration:none; font-weight:normal;
}
.link3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#4c5a7b;
text-decoration:none;
font-weight:bold;
}
a.link3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#4c5a7b;
text-decoration:none;
font-weight:bold;
}
a.link3:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
}
.link4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#cca61a;
text-decoration:underline;
font-weight:normal;
}
a.link4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#cca61a;
text-decoration:underline;
font-weight:normal;
}
a.link4:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#4c5a7b;
text-decoration:none;
font-weight:normal;
}
.link5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal; padding-left:8px;
}
a.link5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal; padding-left:8px;
}
a.link5:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#f7c200;
text-decoration:none;
font-weight:normal; padding-left:8px;
}
.link6
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#000000;
text-decoration:underline; font-weight:normal; padding-left:6px; padding-right:5px; line-height:20px;
}
a.link6
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#000000;
text-decoration:underline; font-weight:normal; padding-left:6px; padding-right:5px; line-height:20px;
}
a.link6:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#475577;
text-decoration:none; font-weight:normal; padding-left:6px; padding-right:5px; line-height:20px;
}
.link7
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#deae02;
text-decoration:none; font-weight:bold;  line-height:20px;
}
a.link7
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#deae02;
text-decoration:none; font-weight:bold;  line-height:20px;
}
a.link7:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#475677;
text-decoration:none; font-weight:bold;  line-height:20px;
}
.link8
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px; 
color:#e5b507;
text-decoration:none; font-weight:bold;
}
a.link8
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px; 
color:#e5b507;
text-decoration:none; font-weight:bold;
}
a.link8:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px; 
color:#475577;
text-decoration:none; font-weight:bold;
}


.link19
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#454141;
text-decoration:none;
font-weight:normal;
line-height:20px; text-align:justify;
}
a.link19
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#454141;
text-decoration:none;
font-weight:normal;
line-height:20px; text-align:justify;
}
a.link19:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#454141;
font-weight:normal;
line-height:20px; text-align:justify;
text-decoration:underline;
}


.link25
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#e5b507;
text-decoration:none; font-weight:bold;
}
a.link25
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#e5b507;
text-decoration:none; font-weight:bold;
}
a.link25:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#FFFFFF;
text-decoration:none; font-weight:bold;
}
















/* Footer */

.footer-bg
{
background-image:url(../images/footer-bg.jpg);
background-repeat:repeat-x;
}
.footer-text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
text-decoration:underline;
font-weight:normal;
}
a.footer-text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
text-decoration:underline;
font-weight:normal;
}
a.footer-text:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
}

/* Button */

.button { background-color:#f7c200; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4c5a7b; border:0px;}

.product-button
{
background-image:url(../images/black.gif);
background-repeat:no-repeat;
width:28px; height:28px; display:block;
}
a.product-button
{
background-image:url(../images/black.gif);
background-repeat:no-repeat;
width:28px; height:28px; display:block;
}
a.product-button:hover
{
background-image:url(../images/yellow.gif);
background-repeat:no-repeat;
width:28px; height:28px; display:block;
}
.addtocart1
{
background-image:url(../images/addtocart-1.jpg);
background-repeat:no-repeat;
width:124px; height:31px;
}
.checkout1
{
background-image:url(../images/checkout-1.jpg);
background-repeat:no-repeat;
width:122px; height:31px;
}
.requestservice
{
background-image:url(../images/requestservice.jpg);
background-repeat:no-repeat;
width:164px; height:31px;
}
.checkavailability
{
background-image:url(../images/checkavailability-bg.jpg);
background-repeat:no-repeat;
 height:31px;
}
.buy
{
background-image:url(../images/buy-bg.jpg);
background-repeat:no-repeat;
 height:31px;
}
.addmoreproducts
{
background-image:url(../images/addmoreproducts-bg.jpg);
background-repeat:no-repeat;
 height:31px;
}

/* July 19th*/
.login-middle
{
background-image:url(../images/login-top-middle.jpg);
background-repeat:repeat-x;
height:38px;
}
.login-bottom-middle
{
background-image:url(../images/login-bottom-middle.jpg);
background-repeat:repeat-x;
height:11px;
}
.text11
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
}
/* July 23rd */
.heading10
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; 
color:#475677;
text-decoration:none;
font-weight:bold; border-bottom:2px solid #e6b400; padding-bottom:5px;
}
a.link9
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#475677;
text-decoration:none;
font-weight:normal;
}
a.link9:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#475677;
text-decoration:underline;
font-weight:normal;
}

/* Developer */

.optional-text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#d81442;
line-height:17px;
font-weight:normal;
text-decoration:none;
}

/* July 20th*/
.submit_buttonover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px; 
color:#475577;
text-decoration:none; font-weight:bold;
}

/* Pagination */
A.pageResults {
  color: #475677;
  text-decoration:none;
  font-weight:bold;
  font-size:11px;
  
}

a.pageResults:hover {
  color: #deae02;
  text-decoration:underline;
  font-weight:bold;
  font-size:11px;
  
}

/* Horizandal Menu */

  .headerCategoriesItems { 
    white-space: nowrap; 
    padding-right: 16px; 
    color: #333333; 
    background-color: #cccccc;
  }
  
  .headerCategoriesItems a { color: #333333; }
  .headerCategoriesItems a:hover { color: #000000; }

/*  Oscommerce Info Style*/

.infoBox {
  background: #dcdcdc;
}

.infoBoxContents {
  background: #FFFFFF;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.infoBoxNotice {
  background: #FF8E90;
}

.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background: #bbc3d3;
  color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

/* message box */

.messageBox { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #e5b507; color:#475577 }


.newtext
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#deae02;
text-decoration:none;
font-weight:normal;
line-height:20px; 
}

